.border-left-info-alert {
  border-left: 0.25rem solid #c41212 !important;
}

.text-info-alert, #important {
  color: #c41212 !important;
}

.bg-info-alert {
  background-color: #c41212 !important;
}

.border-left-warning {
  border-left: 0.25rem solid #ecdd05 !important;
}

.text-warning, #active_cases {
  color: #ecdd05 !important;
}

.bg-info-active {
  background-color: #ecdd05 !important;
}

#tracked {
  color: #1cc88a
}

#total_cases {
  color: #4e73df
}

.date {
  /* padding: 0.25rem 0.5rem; */
  font-size: 1.1rem;
  /* line-height: 1.5; */
}

#top_logo {
  margin: 35px 0 1rem;
}

/* The Modal (background) */

.custom_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1050;
  /* Sit on top */
  padding-top: 30px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /*Enable scroll if needed*/
  /* overflow-y: scroll; */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#for_map {
  text-align: center;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#contact_form {
  flex: 0 0 100%;
  max-width: 100%;
}

#feedback_request {
  color: #888;
  font-size: 13px;
}

#user_icon {
  color: #404142;
}

#report {
  display: none;
}

#percentage, #number2 {
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 80%;
  font-weight: 700;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}